<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>APIs for Nepal</title>
    <meta
      name="description"
      content="This is a collection of free unofficial APIs. All the APIs are free to use and you don't need to register to use them."
    />
  </head>
  <body>
    <div class="container">
      <h1 class="title">Free APIs for Nepal.</h1>
      <p>
        This is a collection of free unofficial APIs. All the APIs are free to
        use and you don't need to register to use them.
      </p>
      <h3>List of APIs:</h3>
      <ul>
        <li>
          RASIFAL API : <a href="{% url 'api_rasifal' %}">Go to API endpoint</a>
        </li>
      </ul>
      <div>
        <footer>Made using DRF.</footer>
      </div>
    </div>
  </body>
</html>
